<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxy.mapper.table_dispatcher_infoMapper">

    <resultMap id="BaseResultMap" type="com.lxy.entity.table_dispatcher_info">
            <id property="uid" column="uid" jdbcType="INTEGER"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="loginTime" column="login_time" jdbcType="TIMESTAMP"/>
            <result property="missionNum" column="mission_num" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        uid,username,description,
        login_time,mission_num
    </sql>
</mapper>
